/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 450px
}

/* Set gray background color and 100% height */

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */

footer {
    background-color: #999999a6;
    
    padding: 15px;
}
.under{
    /*display: inline-block;*/
    text-decoration: none;
    border-bottom: 2px solid #0f1d99b6;
    margin-bottom: 10px;
}
.under-foot{
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid rgb(74, 78, 82);
    margin-bottom: 10px;
}

/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

.navbar-brand{
 padding: 0px !important;
}
p, h6, h5, h4, h3, h2, h1, a{
    font-family: 'Roboto', sans-serif;
}

p img{
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.col-sm-8.text-left{
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}
.sidenav{
    background-color: #fff !important;
}